<div>
  <div class="topFooter">
    <div class="links">
      <a href="/">Home</a>
      <a href="/books.html">Books </a>
      <a href="/books.html">E-Books</a>
      <a href="/books.html">Museum Shoppe</a>
      <a href="/publishwithus.html">Publish With Us</a>
      <a href="/contact.html">Contact Us</a>
    </div>
    <div class="links">
      <a href="/"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="/"><i class="fa-brands fa-instagram"></i></a>
      <div class="views">Views:</div>
    </div>

    <hr />

    <div class="links">
      <a href="/terms&conditions.html">Terms & Conditions</a>
      <a href="/policy.html">Privacy Policy </a>
      <a href="/return.html">Return & Cancellation Policy </a>
    </div>

    <p>Copyright © 2020 IIRNS Publications LLP. All Rights Reserved</p>
  </div>
</div>
