<div class="topHeader">
  <div class="logo">
    <img src="/assets/images/logo.jpg" alt="header logo" />
    <h2>IIRNS Publications LLP</h2>
  </div>

  <div class="rightHeader">
    <div class="search">
      <input type="text" />
      <i class="fa-solid fa-search"></i>
    </div>

    <div class="userIcon">
      <button class="moonMode" id="dark-mode-toggle">
        <i class="fa-solid fa-moon"></i><i class="fa-solid fa-moon-stars"></i>
      </button>
      <img
        src="../assets/images/sun.png"
        alt="dark mode icon"
        class="sunMode"
        id="light-mode-toggle"
      />
      <i class="fa-solid fa-user"></i>
      <i class="fa-solid fa-shopping-cart"></i>
    </div>
  </div>
</div>

<nav>
  <a href="/">Home</a>
  <div class="books">
    <a href="/books.html">Books <i class="fa-solid fa-chevron-down"></i></a>
    <ul>
      <li style="font-weight: 700">BROWSE BY:</li>
      <li class="moreOption">
        Our Publications <i class="fa-solid fa-chevron-right"></i>
      </li>
      <li>Numismatic Digest</li>
      <li class="moreOption">
        Other Publications <i class="fa-solid fa-chevron-right"></i>
      </li>
    </ul>
  </div>
  <a href="/books.html">E-Books</a>
  <a href="/books.html">Museum Shoppe</a>
  <a href="/publishwithus.html">Publish With Us</a>
  <a href="/contact.html">Contact Us</a>
</nav>

<script src="/assets/js/themetoggle.js"></script>
